@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: grid;
    background: linear-gradient(45deg, black, rgb(76, 89, 102));
}

.container {
    padding: 20px;
    border-radius: 15px;
    height: auto;
    border: 1px solid gray;
    background-color: transparent;
    box-shadow: 0 3px 15px rgba(113, 115, 119, 0.5);

}

input {
    cursor: pointer;
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0 3px 15px rgba(83, 83, 83, 0.1);
    font-size: 40px;
    text-align: right;
    color: antiquewhite;
}

input::placeholder {
    color: rgb(255, 253, 253);
}

button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: none;
    margin: 10px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: larger;
    background: transparent;
    color: white;
    box-shadow: -1px -2px 15px rgba(255, 255, 255, 0.1)
}

button:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

.equalBtn {
    background-color: rgb(255, 94, 0);
}

.equalBtn:hover {
    background-color: rgba(136, 76, 76, 0.993);
}

.special {
    color: rgb(165, 255, 106);
}

h1 {
    color: transparent;
    font-family: "Poppins", sans-serif;
    margin: 0px 19px;
    margin-top: 20%;
    text-align: center;
    border-radius: 50px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXeoCVAfeolMJiXQkv8U1H8Gxn6cRbSYsiMQ&s);
    background-clip: text;
    background-size: cover;
    align-content: center;
    animation: animate 3.5s linear infinite;
}
@keyframes animate {
    to{
        background-position-x: 500px;
    }
    
}


@media only screen and (max-width: 450px) {
    .container {
        padding: 10px;
        border-radius: 25px;
        width: auto;
        height: 450px;

    }

    body {
        justify-content: center;
        align-items: flex-start;
        margin-top: 40px;
    }
}

input {
    width: 250px;
    padding: 12px;
    font-size: 20px;
    text-align: right;

}

button {
    width: 50px;
    height: 50px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 320px) {
    .container {
        padding: 2px;
        border-radius: 2px;
    }

    input {
        width: 100px;
        padding: 8px;
        font-size: 14px;
    }
}